[type="radio"].with-gap:checked+label:before {
    border: 2px solid #b71c1c;
}

[type="radio"].with-gap:checked+label:after{
    border: 2px solid #b71c1c;
    background-color: #b71c1c ;
}

.dropdown-content li>span{
    color: #b71c1c;
}

.subonglet{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    white-space: nowrap;
}

.onglet{
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: center;
    line-height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    letter-spacing: 0.8px;
    width: 15%;
    min-width: 80px;
}

.onglet a{
    color: #b71c1c;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: color .28s ease;
}

.onglet a.active{
    border-bottom: 3px solid #b71c1c;
}

nav{
    height: 110px;
    box-shadow: none;
    color: black;
}

nav ul a{
    color: black;
}

.select-dropdown li img{
    width: 70px;
}

.photo_profil{
    width: 150px;
    height: 150px;
}

/* START SYL */
h1,h2,h3,h4,h5,h6 {margin: 0;}

body {
    font-family: 'Roboto', 'Source Sans Pro', sans-serif;
}

main {
    padding-top: 75px;
}

h2 {
    font-family: 'Roboto Slab';
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto Slab';
    font-size: 2em;
    font-weight: bold;
}

h4 {
    font-family: 'Roboto Slab';
    font-size: 1.2em;
    font-weight: bold;
}

a.link {
    color: #000;
    font-family: 'Roboto Slab';
    font-weight: lighter;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.bg-primary {
    background-color: #dd4b39!important;
}
.bg-secondary {
    background-color: #febd12;
}
.bg-third {
    background-color: #d9d9d9;
}
.bg-green {
    background-color: #95d344;
}
.text-primary {
    color: #dd4b39!important;
}

nav {
    background: #fff;
    padding: 5px;
    position: absolute;
    height: 75px;
}

nav a, .collection a, .subonglet a {
    text-decoration: none;
}


@media screen and (max-width: 625px) {
    nav {
        height: 140px;
    }
}

.btn {
    font-family: 'Source Sans Pro';
    font-weight: 900;
    font-size: 1rem;
    padding: 0 20px;
    margin: 0 5px!important;
    box-shadow: none;
}

.logo {
    float: left;
    display: inline-block;
    margin: 5px 10px;
}

.btn:hover {
    box-shadow: none;
}

button:focus {
    background: #C34232;
}

.btn-primary {
    background: #dd4b39;
}

.btn-primary:hover {
    background: #C34232;
}

.btn-secondary {
    background: #febd12;
}

.btn-secondary:hover {
    background: #E4AA10;
}

.btn-third {
    background: #C8C8C8;
    color: #000;
}

.btn-third:hover {
    background: #B7B7B7;
}

.login-menu a {
    color: #000;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    font-size: 16px;
}

.row {
    margin: 0;
}

/************/
/* LANDING */
/**********/

.landing {
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    background-image: url('../img/landing-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.annonce {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 130px;
    background: #febd12;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: lighter;
    font-size: 1.5em;
    padding-top: 30px;
}

.recherche-home {
    position: relative;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    background: rgba(255,255,255,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1080px) {
    .landing {
        padding-left: 50vw;
    }
}

@media screen and (max-width: 1080px) {
    .recherche-home {
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .recherche-home {
        max-width: 100%;
        border-radius: 200px;
    }
}

.landing form {
    padding-top: 50px;
}

.landing form label {
    font-size: 1.2em;   
}

.landing form .btn {
    display: block;
    margin: 0 auto!important;
}

/* label color */
label, .input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type]:focus + label {
    color: #febd12;
    font-size: 1em;
}
/* label underline focus color */
.input-field input[type]:focus, .input-field textarea:focus {
    border-bottom: 1px solid #febd12;
    box-shadow: 0 1px 0 0 #febd12;
}
/* valid color */
.input-field input[type].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #febd12;
}

.input-field input[type="checkbox"]:checked + label::after {
    background-color: #DD4B39;
    border-color: #DD4B39;
}

textarea.materialize-textarea:focus {
    border-color: #febd12!important;
    box-shadow: none!important;
}

textarea.materialize-textarea:focus + label {
    color: #febd12!important;
}

.help-block {
    color: #DD4B39;
}

.select-wrapper {
    padding-left: 50px;
}

.onglet a:not(.active) {
    background: #d9d9d9;
    color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.onglet a.active {
    background: #DD4B39;
    color: #FFF;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.onglet a {
    font-size: 1.1em;
    padding: 5px 0;
}

.onglet {
    padding: 0 1px!important;
}

.dropdown-content li > a {
    color: #dd4b39;
}

.card {
    box-shadow: none!important;
    border: 1px solid #d9d9d9;
}

.card .prefix {
    color: #000!important;
}

.card-secondary {
    background-color: #febd12;
    border-color: #febd12;
}

.card-green {
    background-color: #95d344;
    border-color: #95d344;
}

/*************/
/* SECTIONS */
/***********/

.homesection {
    position: relative;
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.homesection p {
    font-weight: 300;
    font-size: 1.5em;
}

.homesection img {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    .section-content {
        margin-bottom: 200px;
    }

    .homesection img {
        left:0px;
        right:0px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (min-width: 600px) {
    .homesection .img-left {
        left: 40px;
    }
    .homesection .img-right {
        right: 40px;
    }
}

.banderole {
    padding-top: 30px;
    background-image: url('../img/banderole.png');
    background-repeat: repeat-x;
}

/************/
/*DASHBOARD*/
/**********/

.xp-heading {
    position: absolute;
    top: -10px;
    left: 0;
    background: #4eb234;
    color: #fff;
    padding: 10px;
}

/****************/
/*** FOOTER ****/
/**************/

.bandeau_footer {
    width: 100%;
    height: 190px;
    background-image: url('../img/bandeau_footer.png');
    margin-top: 50px;
}

.widget_footer {
    padding: 15px!important;
}

footer a {
    color: #000;
    text-decoration: underline;
}
